* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "一纸情书";
  src: url("../fonts/一纸情书.ttf") format("truetype");
}
body {
  font-family: "一纸情书";
  background: #FFCCCC;
  color: #505050;
}

a {
  text-decoration: none;
  color: black;
}

.article {
  display: block;
  margin: 30px 0 30px 0;
  padding: 12px;
  background: #CCCCFF;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  transition: all 220ms;
}
.article:hover {
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  transition: all 220ms;
}
.article > img {
  display: block;
  width: 100%;
  margin: 0 0 24px 0;
}
.article h2 {
  text-align: center;
  font-size: 14px;
  /*text-transform: uppercase;字大写*/
  margin: 0 0 12px 0;
}

.wall {
  display: block;
  position: relative;
}
.wall-column {
  display: block;
  position: relative;
  /*width: 33.333333%;*/
  width: 25%;
  float: left;
  padding: 0 12px;
  box-sizing: border-box;
}
@media (max-width: 640px) {/*当窗口宽度等于小于640时*/
  .wall-column {
    width: 50%;
  }
}
@media (max-width: 480px) {/*当窗口宽度等于小于480时,宽度自适应，取消浮动*/
  .wall-column {
    width: 50%;
    width:50%;
    /*float: none;*/
  }
}